<form class="process_form" id="form_medications">
	<p>Check the medications that you want to include in the report.</p>
	<ul class="process_list">
	<% 
	var meds = (data && 'medications' in data) ? data['medications'] : [];
	if (meds.length > 0) {
		meds.sort(compareMedByNameASC);
		var check_ids = [];
		var latest = rule.latestPendingResult();
		if (latest) {
			if ('results' in latest && latest.results && 'medication' in latest.results && latest.results.medication.length > 0) {
				check_ids = latest.results.medication;
			}
		}
		
		for (var i = 0; i < meds.length; i++) {
			var med = meds[i];
			var html_id = med['@id'] ? med['@id'].replace(/[^\w\d]+/g, '') : 'xxx';
			if ('sp:Medication' == med['@type']) { %>
				<li><input type="checkbox" id="<%= html_id %>" name="drug" value="<%= med['@id'] %>" <% if ($.inArray(med['@id'], check_ids) >= 0) { %>checked="checked"<% } %> />
					<label for="<%= html_id %>"><%= med['sp:drugName']['dcterms:title'] %>
					
					<% if ('sp:startDate' in med || 'sp:endDate' in med) {
						var period = '';
						if ('sp:startDate' in med) {
							period = ('sp:endDate' in med) ? 'from ' : 'since ';
							period += '<b>' + moment(med['sp:startDate']).format('ll') + '</b>';
						}
						if ('sp:endDate' in med) {
							if (period.length > 0) {
								period += ' until ';
							}
							period += '<b>' + moment(med['sp:endDate']).format('ll') + '</b>';
						} %>
					<div class="supplement"><%== period %></div>
					<% } %>
					</label>
				</li><%
			}
		}
	} %>
		<li id="add_more"><a href="javascript:void(0);" onclick="addCheckableListItem($(this).parent(), 'drug')">Add another</a></li>
	</ul>
</form>
