<form class="process_form" id="form_demographics">
	<table>
		<tbody>
			<tr>
				<th>Patient Identifier:</th>
				<td>
					<input type="text" placeholder="Kept confidential" size="30" /><br />
					<span class="small faded">We will use this identifier should we need to follow up with you</span>
				</td>
			</tr>
			
			<% var bday = '';
			var age = '';
			var gender = ('foaf:gender' in data) ? data['foaf:gender'] : null;
			if ('vcard:bday' in data) {
				var bday = moment(data['vcard:bday']);
				if (bday) {
					age = moment().diff(bday, 'years');
				}
			} %>
			<tr><th>Date of Birth:</th><td><input type="text" name="bday" placeholder="MM/DD/YYYY" value="<%= bday.format('MM/DD/YYYY') %>" /></td></tr>
			<tr><th>Age at Time of Event:</th><td><input type="text" name="age" value="<%= age %>" size="4" /> <label>years</label></td></tr>
			<tr><th>Gender:</th>
				<td>
					<input id="gender_female" type="radio" name="gender" value="w" <%= ('female' == gender) ? 'checked="checked"' : '' %> />
					<label for="gender_female">Female</label>
					<input id="gender_male" type="radio" name="gender" value="m" <%= ('male' == gender) ? 'checked="checked"' : '' %> />
					<label for="gender_male">Male</label>
				</td>
			</tr>
			
			<% var weight = '';
			var measured = null;
			for (var i = 0; i < data.vitals.length; i++) {
				var vital = data.vitals[i];
				if ('sp:weight' in vital) {
					var val = vital['sp:weight']['sp:value'];
					val = Math.round(10 * val) / 10;
					weight = val + ' ' + vital['sp:weight']['sp:unit'];
					if ('dcterms:date' in vital) {
						measured = moment(vital['dcterms:date']);
					}
					break;
				}
			} %>
			<tr>
				<th>Weight:</th>
				<td>
					<input type="text" name="weight" value="<%= weight %>" size="10" />
					<span class="small faded"><%= measured ? 'Measured: ' + measured.format('ll') : '' %></span>
				</td>
			</tr>
		</tbody>
	</table>
</form>
