<form class="process_form" id="form_demographics">
	<%
	var demo = ('demographics' in data) ? data['demographics'] : {};
	var gender = ('foaf:gender' in demo) ? demo['foaf:gender'] : null;
	%>
	
	<div class="process_block">
		<input id="gender_female" type="radio" name="gender" value="w" <%= ('female' == gender) ? 'checked="checked"' : '' %> />
		<label for="gender_female"><b>Female</b></label>
		<input id="gender_male" type="radio" name="gender" value="m" <%= ('male' == gender) ? 'checked="checked"' : '' %> />
		<label for="gender_male"><b>Male</b></label>
	</div>
	
	<div class="process_row">
		<h5>Patient Identifier</h5>
		<input type="text" name="identifier" placeholder="Kept confidential" size="30" /><br />
		<span class="small faded">We will use this identifier for follow up</span>
	</div>
	
	<% var bday = null;
	var age = '';
	var deathdate = null;
	if ('vcard:bday' in demo) {
		bday = moment(demo['vcard:bday']);
		if (bday) {
			age = moment().diff(bday, 'years');
			if (age < 3) {
				age = moment().diff(bday, 'months');
			}
		}
	} 
	if ('vcard:deathdate' in demo) {
		deathdate = moment(demo['vcard:deathdate']);
	} %>
	<div class="process_row">
		<h5>Date of Birth</h5>
		<input class="auto-kal" type="text" name="bday" placeholder="MM/DD/YYYY" data-kal="format: 'MM/DD/YYYY'" value="<%= bday ? bday.format('MM/DD/YYYY') : '' %>" />
		
		<span style="padding:0 2em;">or</span>
		
		<b style="padding-right:2em;">Age <span class="small faded">at time of event</span></b>
		<input type="text" name="age" placeholder="<%= age %>" size="4" /> <label>years</label>
	</div>
	
	<div class="process_row">
		<h5>Date of Death</h5>
		<input id="death_date" class="auto-kal" type="text" name="deathdate" placeholder="MM/DD/YYYY" data-kal="format: 'MM/DD/YYYY'" value="<%= deathdate ? deathdate.format('MM/DD/YYYY') : '' %>" />
	</div>
		
	<div class="process_row">
		<h5>Ethnicity</h5>
		<input type="text" name="ethnicity" value="<%= ('sp:ethnicity' in demo) ? demo['sp:ethnicity'] : '' %>" />
	</div>
	
	<div class="process_row">
		<% var weight = '';
		var measured = null;
		var vitals = ('vitals' in data) ? data['vitals'] : {};
		for (var i = 0; i < vitals.length; i++) {
			var vital = vitals[i];
			if ('sp:weight' in vital) {
				var val = vital['sp:weight']['sp:value'];
				val = Math.round(10 * val) / 10;
				weight = val + ' ' + vital['sp:weight']['sp:unit'];
				if ('dcterms:date' in vital) {
					measured = moment(vital['dcterms:date']);
				}
				break;
			}
		} %>
		<h5>Weight</h5>
		<input type="text" name="weight" value="<%= weight %>" size="10" />
		<span class="small faded"><%= measured ? 'Measured: ' + measured.format('ll') : '' %></span>
	</div>
</form>
